

/* ------ mobilyslider
-----------------------------------------------*/


.slider {
width:672px;
height:524px;
position:relative;
//padding-bottom:30px;
margin: auto;
//border: 1px solid #ccc;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
/*background:url(../gfx/bottom_shadow.jpg) no-repeat bottom center;*/
}
.slider_video {
width:672px;
height:524px;
position:relative;
//padding-bottom:30px;
margin: auto;
//border: 1px solid #ccc;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;

/*background:url(../gfx/bottom_shadow.jpg) no-repeat bottom center;*/
}

.sliderContent {
float:left;
width:672px;
height:504px;
clear:both;
position:relative;
overflow:hidden;

}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(../gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:672px;
height:504px;
/* background:#fff; */
}

.sliderBullets {
position:relative;
bottom:4;
margin-left: 100px;
width: 472px;
height: 11px;
text-align: center;
z-index:50;
}

.sliderBullets a {
display: inline-block;
text-indent:-9999px;
outline:none;
margin-left:5px;
margin-top: 3px;
width:10px;
height:11px;
background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}

a {
color:#fff;
}

a img {
border:none;
}

